@{
    ViewData["Title"] = "O nama";
}
<h1 style="color:white">@ViewData["Title"]</h1>

<p style="color:white;">Sistem razvijen za pregled informacija o filmovima, razvijen od strane MovieHub tima kojeg čine:</p>
<p style="color:white;">- Mirza Učanbarlić</p>
<p style="color:white;">- Robert Tomas</p>
<p style="color:white;">- Allen Kovačević</p>