@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Račun kreiran";
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    Vaš račun je uspješno kreiran
</p>
