@model MovieHub.Models.Watchlist

@{
    ViewData["Title"] = "Uredi";
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}

<h1>Edit</h1>

<h4>Watchlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WatchlistID" />
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <label>Odaberi filmove</label>
            <br />
            @Html.DropDownList("FilmID", (MultiSelectList)ViewBag.Filmovi, new { id = "md", multiple = "multiple" })
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
        <script>
        $(function () {
            $("#md").chosen({ width: "100%" });
        });
        </script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
